@using passfrontend.Models
@using passfrontend.Services
@using Blazored.LocalStorage
@page "/"
@inject UsersApiServices UsersApiService
@inject NavigationManager Navigate
@inject UserStateService UserState
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage

<PageTitle>Home</PageTitle>
<div class="row mt-5">
    <h1 class="text-center mb-4">Welcome to Alex's Password Manager</h1>
    <div class="card p-4 mx-auto" style="max-width: 400px;">
        <h3>Login</h3>
        <div class="form-group">
            <label>Username</label>
            <input class="form-control" @bind=UserName placeholder="Enter Username">
        </div>
        <div class="form-group mt-2">
            <label>Password</label>
            <input class="form-control" type="password" @bind=Password placeholder="Enter Password">
        </div>
        <button class="btn btn-primary mt-3 w-100" @onclick="Login">Log in</button>
        <div class="text-danger mt-3">@message</div>
    </div>
    <br>
    <a class="text-center mt-4" href="/createlogin">Create new login</a>
</div>

@code {
    /// <summary>
    /// Users inputed username
    /// </summary>
    string? UserName { get; set; }
    /// <summary>
    /// Users inputed password
    /// </summary>
    string? Password { get; set; }
    /// <summary>
    /// message to dispaly to the user in case of error
    /// </summary>
    string? message { get; set; }
    /// <summary>
    /// new Login to use for post
    /// </summary>
    Login userLogin = new(); 
    /// <summary>
    /// After first rend checks localstorage to see if user should already be logged in 
    /// and if so sends the user to their dashboard
    /// </summary>
    /// <param name="firstRender">if the page has already been render it equals true false otherwise</param>
    protected override async Task OnAfterRenderAsync(bool firstRender){
        if(firstRender){
            var userName = await LocalStorage.GetItemAsync<string>("user");
            if(!string.IsNullOrEmpty(userName)){
                try{
                    var response = await UsersApiService.GetUserByUserName(userName);
                    if(response.UserName != null){
                        Navigate.NavigateTo($"/dashboard/{response.UserName}");
                    }
                }
                catch(HttpRequestException ex){
                    if(ex.StatusCode == System.Net.HttpStatusCode.NotFound){
                        await LocalStorage.RemoveItemAsync("user");
                    }
                    else{
                        message = $"error has occured: {ex}";
                    }
                }
            }
        }
        StateHasChanged();
    }
    /// <summary>
    /// takes the users input for password and username and attempts to log them in
    /// </summary>
    public async Task Login() {
        if(string.IsNullOrEmpty(UserName) || string.IsNullOrEmpty(Password)){
            message = "Error: one or more fields are empty";
            return;
        }
        userLogin.LoginUserName = UserName;
        userLogin.HashedPassword = Password;
        try {
            var response = await UsersApiService.GetUser(userLogin);
            if (response == null) {
                message = "Invalid username or password";
            } else {
                UserState.CurrentUser = response;
                await LocalStorage.SetItemAsync("user", UserState.CurrentUser.UserName);
                Navigate.NavigateTo($"/dashboard/{UserState.CurrentUser.UserName}");
            }
        }
        catch (Exception ex) {
            message = $"Invalid login";
        }
        UserName = "";
        Password = "";
    }
}